.product-showcase-section {
  padding: 4rem 0;
  background-color: var(--neutral-light);
  overflow-x: hidden;
}

.product-showcase-title {
  font-family: var(--font-secondary);
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: var(--neutral-dark);
}

/* Estilos para las tarjetas de productos dentro del carrusel */
.product-card-wrapper {
  padding: 0 15px; /* Espacio entre las tarjetas en el carrusel */
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  height: auto;
  max-height: 400px;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  align-items: start;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.product-name {
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: var(--primary-color);
  height: 3rem; /* Allow for two lines of text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-description {
  font-family: var(--font-primary);
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  color: var(--neutral-dark);
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.whatsapp-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0.5rem;
}

.whatsapp-button:hover {
  background-color: #128c7e;
}

/* Estilos para los puntos (dots) del carrusel */
.slick-dots {
  bottom: -30px; /* Ajusta la posici贸n de los puntos */
}

.slick-dots li button:before {
  font-size: 10px;
  color: var(--primary-color); /* Color de los puntos */
}

.slick-dots li.slick-active button:before {
  color: var(--accent-color); /* Color del punto activo */
}

/* Estilos para las flechas de navegaci贸n */
.slick-prev:before, .slick-next:before {
  color: var(--primary-color); /* Color de las flechas */
  font-size: 30px;
}

.slick-prev {
  left: -25px; /* Ajusta la posici贸n de la flecha izquierda */
  z-index: 1;
}

.slick-next {
  right: -25px; /* Ajusta la posici贸n de la flecha derecha */
  z-index: 1;
}

@media (max-width: 768px) {
  .slick-prev, .slick-next {
    font-size: 20px;
  }
  .slick-prev {
    left: 0px;
  }
  .slick-next {
    right: 0px;
  }
  .product-card-wrapper {
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .product-name {
    font-size: 1rem;
  }

  .product-description {
    min-height: 80px;
    font-size: 0.9rem;
  }
}