.trusted-by-section {
  padding: 2rem 0;
  background-color: var(--neutral-light);
}

.technology-timeline-title {
  font-family: var(--font-secondary);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.horizontal-timeline {
  display: flex;
  overflow-x: auto; /* Permite el scroll horizontal si hay muchos elementos */
  padding: 1rem 0;
  gap: 2rem; /* Espacio entre las tarjetas de eventos */
  justify-content: flex-start; /* Alinea los elementos al inicio */
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: var(--accent-color) var(--neutral-light); /* Para Firefox */
}

.horizontal-timeline::-webkit-scrollbar {
  height: 8px;
}

.horizontal-timeline::-webkit-scrollbar-track {
  background: var(--neutral-light);
}

.horizontal-timeline::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 4px;
}

.horizontal-timeline::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.timeline-event-card {
  flex: 0 0 280px; /* Ancho fijo para cada tarjeta */
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; /* Ajustar altura automáticamente */
}

.timeline-event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.event-content h3 {
  font-size: 1.1rem;
  color: var(--neutral-dark);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.event-content p {
  font-size: 0.9rem;
  color: var(--neutral-medium);
  line-height: 1.5;
}

.event-image {
  max-width: 100px; /* Tamaño sutil para las imágenes */
  height: auto;
  margin: 0.5rem auto 0.8rem auto; /* Centrar y espaciar */
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .horizontal-timeline {
    padding: 1rem 1rem;
    justify-content: flex-start; /* Asegura que el scroll funcione bien en móviles */
  }

  .timeline-event-card {
    flex: 0 0 250px; /* Un poco más pequeñas en móviles */
    padding: 1rem;
  }

  .event-year {
    font-size: 1.1rem;
  }

  .event-content h3 {
    font-size: 1.1rem;
  }

  .event-content p {
    font-size: 0.85rem;
  }
}